<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.chuys.gshp.login">

    <application>
        <activity android:name=".view.Terms"></activity>
        <activity android:name=".view.Login" />
    </application>



</manifest>