<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.chuys.gshp.reportmenu">

    <application>
        <activity android:name=".view.EncuestaActivity"></activity>
        <activity android:name=".view.ReportMenu"></activity>
    </application>

</manifest>